snippet inc
	#include 
snippet def
	#define 
snippet func
	${1}(${2})
	{
	  ${3}
	}
snippet funcmain
	int main(int argc, char **argv)
	{
	  ${1}
	}
snippet exitfail
	exit(EXIT_FAILURE);
snippet exitsuccess
	exit(EXIT_SUCCESS);
snippet returnsuccess
	return EXIT_SUCCESS;
