snippet inc
	#include 
snippet def
	#define 
snippet func
	${1}(${2})
	{
	    ${3}
	}
snippet main
	int main(int argc, char *argv[])
	{
	    ${1}
	}
snippet exitfail
	exit(EXIT_FAILURE);
snippet exitsucc
	exit(EXIT_SUCCESS);
snippet returnsucc
	return EXIT_SUCCESS;
