snippet themehead
	/*
	Theme Name: ${1}
	Theme URI: ${2}
	Description: ${3}
	Version: ${4}
	Author: Christopher Davis
	Author URI: http://christopherdavis.me
	Tags: ${5}
	License: ${6}
	License URI: license.txt
	*/${7}
