snippet func
	function ${1}(${2})
	{
	    ${3}
	}
snippet meth
	${1} function ${2}(${3})
	{
	    ${4}
	}
snippet class
	class ${1}
	{
	    ${2}
	}
snippet interface
	interface ${1}
	{
	    ${2}
	}
snippet ihd
	/**
	 * {@inheritdoc}
	 */
	${1}
snippet mock
	$this->createMock(${1});${2}
snippet formtypes
	use Symfony\Component\Form\Extension\Core\Type as CoreTypes;
	${1}
